<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
    {% block pagetitle %}{{ pagetitle }}{% endblock %} | Manager Panel
    </title>

    {% block cssincludes %}
    {% endblock %}

    {% block jsincludes %}
    {% endblock %}

</head>
<body>

    {% block content %}
    {% endblock %}

</body>
</html>