{% extends 'base.html' %}

	    {% block cssincludes %}
      {% endblock %}
{% block pagetitle %}Dashboard| Add Transaction{% endblock %}

{% block content %}
  
      <form style='margin-left:10px' method="post" action="{% url "addtransaction" %}">
            {% csrf_token %}
            <table>
            {{ form.as_p }}
            </table>
        <input type="submit" name="submit" value="Submit" class="btn">
      </form>

{% endblock %}