{% extends 'booking/base.html' %}
{% block title %}Availability | Zostel{% endblock %}
{% block head %}
    <script type="text/javascript">
	
</script>
{% endblock %}
{% block content %}
{% include "account/base.html" %}
   <div class="container">
      <div class="header">
        <h3 class="text-muted">Availability for {{ available.cityname }}</h3>
        <hr/>
      </div>

      <div class="row">
        <div class="col-lg-6">
               <table class="table table-bordered table-striped">
                <tr>
                    <th>Date</th>
                    {% for category in available.category %}
                        <th>{{ category }}</th>
                    {% endfor %}
                </tr>
                {% for row in available.available %}
                    <tr>
                        {% for col in row %}
                         <td>{{ col }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                    
               </table>
                <!--Show +/- 7 days availability-->
                <form>
					<input type="button" class="button pull-right" value="show availability +/- 7 days" onclick="openAvail();"><br/>

                    <p><b>Change Dates:</b></p>
                    <label>CheckIn:</label>
                    <input type="text" value="{{ params.arrival }}" placeholder="MM/DD/YYYY" name="arrival" id="bookingdatepicker1" data-date-format="dd-mm-yyyy" data-date-weekstart="1" required/>&nbsp;&nbsp;&nbsp;&nbsp;
                    <label>Nights?*</label>
			        <input type="number" value="{{ params.nights }}" class="" name="nights" id="bookingstaynight" required> 
                    <input type="button" class="button" value="Change" onclick="changeDate();">
            </form>
               <hr/>
                <form action="{% url 'checkout' %}" method="post" onsubmit="booknow();">
                    {% csrf_token %}

                <table class="table table-striped">
                    <tr>
                        <th>Rooms</th>
                        <th>Type</th>
                        <th>Select No. of Person</th>
                        <th>Price per person/night</th>
                    </tr>
                         {% for room in room_details %}
                            <tr>
                                <td>{{ room.name }} <i>({{ room.beds }} beds)</i></td>
                                <td>{{ room.category }}</td>
                                <td>
                                    <select name="room-{{ room.id }}">
                                    {% for i in room.bookable %}
                                        <option {{ i }}>{{ i }}</option>
                                    {% endfor %}
                                    </select>
                                </td>
                                <td>{{ room.price }}</td>
                            </tr>
                        {% endfor %}
                </table>
                        
                        <input type="hidden" name="city" value="{{ params.city }}"/>
                        <input type="hidden" name="arrival" value="{{ params.arrival }}"/>
                        <input type="hidden" name="nights" value="{{ params.nights }}"/>
                        <input type="submit" class="button pull-right" value="Book Now"/>
                </form>
        </div>
      </div>

    </div>
{% endblock %}

{% block script %}
<script>
jQuery("#bookingdatepicker1").datepicker({ minDate: 0,
                                            beforeShow: function (input, inst) {
                                                 inst.dpDiv.css({
                                                                        marginTop:'-240px'
                                                                });
                                             }
                                            });

jQuery('div.ui-datepicker').css('font-size','15px');

//change the arrival date and stay night
function changeDate(){
    var arrival = $('#bookingdatepicker1').val();
    var nights = $('#bookingstaynight').val();
    window.location.assign("{% url 'availibility' %}?city={{ params.city }}&arrival="+arrival+"&nights="+nights);
    //return true;        
}

//open +/- 7 days availability popup
function openAvail(){
	url	= '{% url 'popupavail' %}?city={{ params.city }}&arrival={{ params.arrival }}&nights={{ params.nights }}';
	var popWin 	= window.open(url,'win','width=400,height=450,resizable=0,scrollbars=1,location=0,toolbar=0,status=1,menubar=0');
	popWin.focus();
	popWin.opener.name = 'opener';
}
</script>
{% endblock %}