<!DOCTYPE HTML>
<head>
    <title>{% block title %}Booking Portal{% endblock %}</title>
    <link rel="shortcut icon" href="http://zostel.com/wp-content/themes/zostel/assets/ico/favicon.png">
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-theme.min.css">
    <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block content %}
        <p>No Contents</p>
    {% endblock %}
    {% block footer %}
        <div class="container">        
            <div class="footer">
                <hr/>
                <p>© Zostel 2013</p>
            </div>
        </div>
    {% endblock %}
</body>
</html>
{% block script %}{% endblock %}