{% extends 'booking/base.html' %}
{% block title %}Checkout | Zostel{% endblock %}
{% block head %}
{% endblock %}

{% block content %}
    {% include "account/base.html" %}
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
        <div class="header">
            <h3 class="text-muted">Your booking for <b>{{ info.zostel_name }}</b>, <b>{{info.city}}</b></h3>
            <hr/>
        </div>
        <div>
            <table>
                <tr>
                    <th>Check In : <th><td>{{ info.arrival|date }}</td>
                </tr>
                <tr>
                    <th>Check Out : <th><td>{{ info.departure|date }}</td>
                </tr>
                <tr>
                    <th>Nights : <th><td>{{ info.nights }}</td>
                </tr>
            </table>
            <hr/>
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Room Details</th>
                    <th>People</th>
                    <th>Cost</th>
                    <th>Total</th>
                </tr>
                {% for row in info.room_details %}
                    <tr>
                        <td>{{ row.name }} <i>({{ row.category }})</i></td>
                        <td>{{ row.people }}</td>
                        <td>{{ row.cost }}</td>
                        <td>{{ row.total }}</td>
                    </tr>
                {% endfor %}
            </table>
            <div class="pull-right">
                <table class="table table-bordered table-striped">
                    <tr><th>Total </th><td>{{ info.total }}</td></tr>
                    <tr><th>2.5% Deposite </th><td>{{ info.deposite }}</td></tr>
                    <tr><th>Booking Fee </th><td>{{ info.fee }}</td></tr>
                    <tr><th>Total paid now </th><td>{{ info.paid }}</td></tr>
                    <tr><th>Balance </th><td>{{ info.balance }}</td></tr>
                </table>
            </div>
            <hr/>
{% endblock %}