{% extends 'booking/base.html' %}

{% block title %}Booking Form{% endblock %}

{% block content %}
    {% include "account/base.html" %}

<form action="{% url 'availibility' %}" method="get" onsubmit="booknow();">
	<label>Select City*</label><br/>
			<select name="city" style="background-color:#7e3ea6;color:#fff;">
                {% for city in cities %}				
                    <option value="{{ city.id }}">{{ city.name }}</option>
                {% endfor %}
				<!--option value="Jaipur">Jaipur</option-->
			</select><br/>
		<label>Check in*</label><br/>
			<div class="input-append date">
				<input class="validate[required]" size="16" type="text" value="" placeholder="MM/DD/YYYY" name="arrival" id="bookingdatepicker1" data-date-format="dd-mm-yyyy" data-date-weekstart="1" required style="width:178px;background-color:#7e3ea6;color:#fff;">
				<span class="add-on" onClick="jQuery('#bookingdatepicker1').focus();"><i id="bookingdatepicker1btn" class="icon-th"></i></span>
			</div>
	
		<label>How many nights?*</label><br/>
			<input type="number" value="2" class="" name="nights" id="bookingstaynight" required style="background-color:#7e3ea6;color:#fff;"> 
            <br/><br/>
		<div><button class="btn btn-success input-medium" style="width:220px;">Book Now</button></div>
	</form>
{% endblock %}

{% block script %}
<script>
//jQuery("#bookingdatepicker1").datepicker({ minDate: 0 });
//jQuery("#bookingdatepicker1").datepicker( "option", "dateFormat", "dd-M-yy", minDate: new Date(2013, 8 - 1 , 28) );
jQuery("#bookingdatepicker1").datepicker({ minDate: 0});
//jQuery('#bookingdatepicker1').datepicker("setDate", "08/20/2013" ); 
jQuery('div.ui-datepicker').css('font-size','15px');

function booknow(){
    return true;        
}
</script>
{% endblock %}