{% extends 'booking/base.html' %}
{% block title %}Availability | Zostel{% endblock %}
{% block head %}
    <script type="text/javascript"></script>
{% endblock %}
{% block content %}
    {% include "account/base.html" %}

   <div class="container">
      <div class="header">
        <h3 class="text-muted">Availability</h3>
        <hr/>
      </div>

      <div class="row">
        <div class="col-lg-6">
           <table class="table table-bordered table-striped">
            <tr>
                <th>Date</th>
                {% for category in available.category %}
                    <th>{{ category }}</th>
                {% endfor %}
            </tr>
            {% for row in available.available %}
                <tr>
                    {% for col in row %}
                        {% if forloop.first %}
                            <td><a href="#" onclick="loadDate('{{ col|date:"m/d/Y" }}')">{{ col }}</a></td>
                        {% else %}
                            <td>{{ col }}</td>
                        {% endif %} 
                    {% endfor %}
                </tr>
            {% endfor %}
                
           </table>
            <hr/>
            <form>
                <label>Change CheckIn Date:</label><br/>
                <input type="text" value="{{ params.arrival }}" placeholder="MM/DD/YYYY" name="arrival" id="bookingdatepicker1" data-date-format="dd-mm-yyyy" data-date-weekstart="1" required/>
                <input type="button" class="button" value="New Check in*" onclick="changeDate();">
            </form>
            
        </div>
      </div>

    </div>
{% endblock %}

{% block script %}
<script>
    jQuery("#bookingdatepicker1").datepicker({ minDate: 0,
                                                beforeShow: function (input, inst) {
                                                     inst.dpDiv.css({
                                                                            marginTop:'-240px'
                                                                    });
                                                 }
                                                });

    jQuery('div.ui-datepicker').css('font-size','15px');

    function changeDate(){
        var arrival = $('#bookingdatepicker1').val();
        window.location.assign("{% url 'popupavail' %}?city={{ params.city }}&arrival="+arrival+"&nights={{ params.nights }}");
        //return true;        
    }
    
function loadDate(date){
	opener.location.href='{% url 'availibility' %}?city={{ params.city }}&arrival='+date+'&nights={{ params.nights }}';
    setTimeout('close()',500);
	opener.focus();
}
</script>
{% endblock %}
